.git
.github
Dockerfile
compose*.yaml
.venv
venv
__pycache__
*.py[cod]
.env
.env.*
docker/secrets
docker/mysql
.ruff_cache
.pytest_cache
mysql
staticfiles_build
docs
htmlcov
.coverage
helloworld/management/commands/auditlogs/*.csv
