SECRET_KEY=key-here
DEBUG=false

PRODUCTION_URL=hempdb.vercel.app
EMAIL_LINK=https://hempdb.vercel.app

DATABASE_URL=mysql://<MYSQL_USER>:<MYSQL_PASS>@<MYSQL_HOST>/<MYSQL_NAME>
DATABASE_SSL=true
MYSQL_ATTR_SSL_CA=ca-certificate-path-here

REDIS_URL=redis://<user>:<password>@<valkey-host>:<port>/0

SENTRY_DSN=dsn-here
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_RELEASE=
CSP_REPORT_URI=

EMAIL_USER=from-email-here
EMAIL_APP_PASSWORD=app-password-here
AUDIT_RECIPIENT=personal-email-here
