SECRET_KEY=key-here
DEBUG=false
ALLOWED_HOSTS=hempdb.vercel.app

DATABASE_URL=mysql://<MYSQL_USER>:<MYSQL_PASS>@<MYSQL_HOST>/<MYSQL_NAME>
DATABASE_SSL=true
MYSQL_ATTR_SSL_CA=ca-certificate-path-here

REDIS_URL=redis://<user>:<password>@<url>:<port>

SENTRY_DSN=dsn-here

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USER=from-email-here
EMAIL_APP_PASSWORD=app-password-here
DEFAULT_FROM_EMAIL=from-email-here
EMAIL_LINK=https://hempdb.vercel.app
AUDIT_RECIPIENT=personal-email-here
