{% extends "master.html" %}

{% block title %}
  HempDB
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    <h1 class="d-flex justify-content-center mb-2">{% if change.company %}{{ change.company.Name }}{% else %}{{ change.pending_company.Name }}{% endif %}</h1>
    <h3 class="d-flex justify-content-center mb-5">Change Type: {{ change.changeType }}</h3>
    <hr />
    {% if perms.helloworld.review_pending_change and change.status == "P" %}
    <a type="button" class="btn btn-secondary rounded-pill mx-3 my-2 px-3" href="/changes"> Back </a>
    <form method="post" action="{% url 'company-pending-approve' change.id %}" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary rounded-pill mx-3 my-2 px-3">Approve</button>
    </form>
    <form method="post" action="{% url 'company-pending-reject' change.id %}" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary rounded-pill mx-3 my-2 px-3">Reject</button>
    </form>
    {% endif %}

    {% if change.changeType == "edit" %}
        {% include "pending_changes_views/edit_change.html" %}
    {% elif change.changeType == "create" %}
        {% include "pending_changes_views/create_change.html" %}
    {% elif change.changeType == "deletion" %}
        {% include "pending_changes_views/delete_change.html" %}
    {% else %}
        <p>Unknown change type.</p>
    {% endif %}

</div>
 
{% endblock %}
