<nav class="navbar navbar-expand-sm bg-success bg-gradient bg-subtle navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link link-light navbar-brand text-light" href="/">HempDB</a>
        {% if user.is_authenticated %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Databases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/companies">Companies</a>
              <a class="dropdown-item" href="/solutions">Solutions</a>
              <a class="dropdown-item" href="/categories">Categories</a>
              <a class="dropdown-item" href="/stakeholder-groups">Stakeholder Groups</a>
              <a class="dropdown-item" href="/stages">Stages</a>
              <a class="dropdown-item" href="/product-groups">Product Groups</a>
              <a class="dropdown-item" href="/status">Status</a>
              <a class="dropdown-item" href="/grower">Grower</a>
              <a class="dropdown-item" href="/industry">Industry</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link link-light px-3 text-light" href="/map">Map</a>
        </li>
        {% if perms.helloworld.review_company_changes %}
          <li class="nav-item">
            <a class="nav-link link-light px-3 text-light" href="/changes">Changes</a>
          </li>
        {% endif %}
        {% if perms.helloworld.edit_companies %}
          <li class="nav-item">
            <a class="nav-link link-light px-3 text-light" href="/upload_wizard">Uploads</a>
          </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown" style="list-style-type: none;">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello, {{ user.get_username }}
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% if user.is_active and user.is_staff %}
              <a class="dropdown-item" href="/admin">Admin</a>
            {% endif %}
            {% if perms.helloworld.review_company_changes %}
              <a class="dropdown-item" href="/changes">Changes</a>
            {% endif %}
            {% if perms.helloworld.edit_companies %}
              <a class="dropdown-item" href="/my_changes">My Changes</a>
            {% endif %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Log out</button>
            </form>
          </div>
        </li>
      {% else %}
        <a class="nav-link link-light" href="/user/login">Log in</a>
      {% endif %}  
    </div>
  </nav>
